<!doctype html>
<html lang="kr">
    <head>
        <title>Index</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script type="text/javascript" src="static/javascripts/brython.js"></script>
        <script type="text/javascript" src="static/javascripts/brython_stdlib.js"></script>
        <script type="text/python3" src="static/pythons/body.py"></script>
    </head>
    <body onload="brython(1)">
        <div>
            This is index page.
        </div>
    </body>
</html>
